@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('/src/fonts/Steppe/Steppe.css');

body {
  margin: 0;
  font-family: 'Steppe', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-general;
}

@layer components {
  .template {
    @apply min-h-screen bg-general flex justify-center;
  }

  .sections-frame {
    @apply px-8 py-7 xl:px-10 xl:py-8;
  }
}

@layer base {
  :root {
    --color-light: #f8f8f8;
    --color-general: #2c2c2c;
  }
}
